.header
  .headercontents1
  = link_to "成果物", { anchor: "1" }
  .headercontents2 
  = link_to "スキル", { anchor: "2" }
  .headercontents3
  = link_to "プロフィール", { anchor: "3" }
  .headercontents3
  = link_to "お問い合わせ", { anchor: "4" }

.toppage

#1.product
  %img{src: "/assets/成果物222-min.png"}/
  %body
  .cp_modal02
    %input#cp_modal{:type => "checkbox"}/
    %h1#productname
    %a#productname{:href => "http://3.114.197.139//", :target => "_blank"} Chat-Space
    %p#productdetail チャットできるWebサービス
    %label.cp_modal_btn{:for => "cp_modal"}
    %label.cp_modal_bg{:for => "cp_modal"}
    .cp_modal_cont
      %label.cp_close{:for => "cp_modal"}
        %i.fa.fa-times{"aria-hidden" => "true"}
      %header
        %h2 機能の説明
      %article.cp_content
        %p ユーザー新規登録、ログイン機能
        %p グループ作成機能：既存ユーザーをインクリメンタルサーチが可能
        %p チャット機能：非同期通信によるチャット
      %footer
        %label.cp_btn.cp_cl{:for => "cp_modal"} 閉じる



#2.skill
  %img{src: "/assets/成果物 (1)-min.png"}/
  .cp_cssslider
    %input#photo1{:checked => "checked", :name => "cp_switch", :type => "radio"}/
    %label{:for => "photo1"}
      %img{src: "/assets/136341.png"}/
    %img{:src => "/assets/136341.png"}/
    %input#photo2{:name => "cp_switch", :type => "radio"}/
    %label{:for => "photo2"}
      %img{:src => "/assets/20150804010349-min.png"}/
    %img{:src => "/assets/20150804010349-min.png"}/
    %input#photo3{:name => "cp_switch", :type => "radio"}/
    %label{:for => "photo3"}
      %img{:src => "/assets/Iruby (2).png"}/
    %img{:src => "/assets/Iruby (2).png"}/
    %input#photo4{:name => "cp_switch", :type => "radio"}/
    %label{:for => "photo4"}
      %img{:src => "/assets/rails_logo (1).png"}/
    %img{:src => "/assets/rails_logo (1).png"}/
    %input#photo5{:name => "cp_switch", :type => "radio"}/
    %label{:for => "photo5"}
      %img{:src => "/assets/20180406164029-min.png"}/
    %img{:src => "/assets/20180406164029-min.png"}/
    %input#photo6{:name => "cp_switch", :type => "radio"}/
    %label{:for => "photo6"}
      %img{:src => "/assets/jquery.png"}/
    %img{:src => "/assets/jquery.png"}/

#3.prof
  %img{:src => "/assets/成果物 (1).png"}/
  %figure.cp_caption
    %img{:src => "/assets/IMG_0090-min.png"}/
    %figcaption
      %h3 こんにちは
      %h3 片桐誠幸
      %h3 と申します。
  .sente
    %p プログラミングスクール「TECH::EXPERT」に在籍し、RubyやRuby on Railsを使った開発を経験
    %p 現在はweb制作をメインにフリーランスとして活動中。
    %P 個人アプリを開発しながら日々努力し、技術を積み上げておりますのでよろしくお願い致します。

.form お問い合わせは、ツイッターダイレクトメールでお願いいたします。
.formimage
  = link_to(image_tag('/assets/スクリーンショット 2020-05-23 9.12.57.png', border: 0),"https://twitter.com/KatagiriRails", popup: true)
